@use '../globals' as *;
@use './common' as *;

.member{
    @extend .temp-title;

    & .title p{
        @include mq(md){
            font-size: 32px;       
        }
    
        @include mq(sm){
            font-size: 28px;
        }
    }
    
}
.member__intro{
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.member_item .title-name{
    text-align: center;
    line-height: 0.5em;
    padding: 10px;
    & .name{
        font-size: 18px;
    }
    & .title{
        font-size: 14px;
    }
}
.member__intro__items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    & > ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 0;
        list-style-type: none;
        flex-direction: row;

        & > li{
            width: 180px;
            text-align: center;
            margin-bottom: 3rem;
        }
    }
}

.popup-show{
    & img{
        border-radius: 50%;
        width: 150px;
        height: 150px;

        &:hover{
            opacity: 0.7;
        }
    }
}

.message-box{
    display: none;
}
.message-box {
    position: relative;
    width: 800px;
    background-color: #fff;
    border: 2px solid #ccc;
    font-size: 18px;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

    &__left{
        width: 50%;

        & .title{
            line-height: 0.5em;
            padding-left: 10px;
            font-size: 20px;
        }
        & .name{
            line-height: 0.5em;
            font-size: 24px;
        }

        & .carrer{
            &__detail > p{
                margin: 10px;
                padding-left: 20px;
            }
        }

    }

    &__right{
        width: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
        & .personal-img {
            & img{
                text-align: center;
                width: 300px;
            }
        }
    }
}

.close-popup{
    position: absolute;
    // top: -15px;
    // right: -15px;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    z-index: 9999;
    cursor: pointer;
    background-color: #7aadd4;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: black;
    }
}

.batsu{
    display: block;
    position: relative;
    width: 20px;
    height: 25px;

    &::before,
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 20px;
        background: white;
        // border-radius: 2.5px;
    }

    &::before{
        transform: translate(-50%, -50%) rotate(40deg);
    }

    &::after{
        transform: translate(-50%, -50%) rotate(-40deg);
    }
}

@media screen and (max-width: 960px){
    .message-box{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .popup-show{
        & img{
            border-radius: 50%;
            width: 120px;
            height: 120px;
    
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .member__intro{
        padding: 0;
    }
    .member__intro__items > ul{
        justify-content: center;
    }

    .profile{
        display: flex;
        flex-direction: column-reverse;

        &__left{
            width: 100%;
        }

        &__right{
            width: 100%;
        }
    }
}