@use '../globals/' as *;

// .staff{
//     // margin: auto;
//     &__profile{
//         padding: 0 30px 88px;
//         max-width: 1082px;
//         font-size: 15px;
//         width: auto;
//         & table {
//             tr{
//                 // width: 600px;
//                 height: auto;
//                 @media screen and (min-width: 768px) {
//                     padding: 17px 0;
//                 }
//                 display: block;
//                 padding: 10px 0;
//                 border-bottom: 1px solid #cfcfcf;

//                 &:first-of-type{
//                     border-top: 1px solid #cfcfcf;
//                 }

//                 & td{
//                     padding: 8px 0 10px 17px;
//                     line-height: 1.8;
//                     letter-spacing: .1em;

//                     @media screen and (min-width: 768px) {
//                         padding-left: 32px;
//                     }
//                 }

//                 & td:first-child{
//                     width: 200px;
//                     padding: 8px 0 10px;
//                     border-right: 1px solid #cfcfcf;
//                 }
//             }
//         }
//     }

//     &__image {
//         padding-left: 100px;
//         img{
//             width: 300px;
//             height: auto;
//             border-radius: 5%;
//         }
//     }
// }
.staff{
    padding-top: 200px;
    &__profile{

        font-size: 15px;
        width: 100%;
        // margin: auto;

        @include mq(sm){
            width: auto;
        }

        & table {
            margin: auto;
            tr{
                // width: 100%;
                @media screen and (min-width: 768px) {
                    padding: 17px 0;
                }
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid #cfcfcf;

                &:first-of-type{
                    border-top: 1px solid #cfcfcf;
                }

                & td{
                    padding: 8px 0 10px 17px;
                    line-height: 1.8;
                    letter-spacing: .1em;

                    @media screen and (min-width: 768px) {
                        padding-left: 32px;
                        font-size: 16px;
                    }

                    @include mq(md){
                        font-size: 12px;
                    }
                }

                & td:first-child{
                    width: 100px;
                    padding: 8px 0 10px;
                    border-right: 1px solid #cfcfcf;

                    @media screen and (min-width: 768px) {
                        width: 146px;
                    }

                    @include mq(md){
                        width: 100px;
                    }
                }

                & td:nth-child(2){
                    padding-right: 100px;

                    @include mq(md){
                        padding-right: 0;
                    }
                }
            }
        }
    }

    &__image {
        // padding-left: 100px;
        margin: 0 auto;
        img{
            // width: 300px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5%;
        }

        @include mq(sm){
            padding-left: 0;
        }
    }
}
.company{
    padding: 200px 0;
    width: auto;
    // width: 800px;
    margin: auto;

    &__profile{
        // padding: 0 30px 88px;
        // max-width: 1082px;
        font-size: 15px;
        width: 600px;
        margin: auto;

        @include mq(sm){
            width: auto;
            // width: 350px;
        }

        & table {
            margin: auto;
            tr{
                width: 100%;
                @media screen and (min-width: 768px) {
                    padding: 17px 0;
                }
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid #cfcfcf;

                &:first-of-type{
                    border-top: 1px solid #cfcfcf;
                }

                & td{
                    padding: 8px 0 10px 17px;
                    line-height: 1.8;
                    letter-spacing: .1em;

                    @media screen and (min-width: 768px) {
                        padding-left: 32px;
                        font-size: 16px;
                    }
                    @include mq(sm){
                        font-size: 12px;;
                    }
                }

                & td:first-child{
                    width: 100px;
                    padding: 8px 0 10px;
                    border-right: 1px solid #cfcfcf;

                    @media screen and (min-width: 768px) {
                        width: 146px;
                    }
                }

                & td:nth-child(2){
                    padding-right: 100px;

                    @include mq(sm){
                        padding-right: 0;
                    }
                }
            }
        }
    }
}