@use '../globals/' as *;
@use './common' as *;

.company{
    padding-top: 200px;


    & > .title {
        text-align: center;
        padding-bottom: 100px;

        @include mq(sm){
            padding-bottom: 50px;
        }
        
        & > img{
            width: 400px;
            height: auto;
    
            @include mq(md){
                width: 300px;
            }
            @include mq(sm){
                width: 250px;
            }
        }
    }
    

    &__info{
        @extend .table-prop;

        & .record-table{
            @include mq(md){
                width: 80%;
            }
            @include mq(sm){
                width: 90%;
                & th,
                & td{
                    border-bottom: none;
                    display: block;
                    padding-left: 10px;
                    font-size: 12px;
                }

                & .last td:last-child{
                    border-bottom: 1px solid #ccc;
                }
            }
        }
    }
}

.representative{
    padding-top: 200px;
    
    & > .title{
        text-align: center;
        
        & > img{
            width: 400px;
            height: auto;
    
            @include mq(md){
                width: 300px;
            }
            @include mq(sm){
                width: 250px;
            }
        }
    }

    & > .content{
        padding-top: 50px;
        & img{
            width: 300px;
            height: auto;

            @include mq(sm){
                width: 200px;
            }
        }

        & .text{
            @include mq(sm){
                padding-top: 50px;
            }
        }
    }

}
.member{
    padding-top: 200px;
    
    & > .title{
        text-align: center;
        
        & > img{
            width: 400px;
            height: auto;
    
            @include mq(md){
                width: 300px;
            }
            @include mq(sm){
                width: 250px;
            }
        }
    }

    & > .content{
        padding-top: 50px;
        & img{
            width: 300px;
            height: auto;

            @include mq(sm){
                width: 200px;
            }
        }

        & .text{
            @include mq(sm){
                padding-top: 50px;
            }
        }
    }

}