@use '../globals/' as *;

.row{
    margin-right: 0;
}

.access{
    width: 100%;
    height: auto;

    &  &__map{
        & img{
            width: 700px;
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include mq(md){
                width: 600px;
                height: auto;
                // margin: auto;
                text-align: center;
            }

            @include mq(sm){
                width: 370px;
                height: auto;
            }
        }
    }
    
    @include mq(md){
        margin: auto;
    }

    & .required_time{
        margin-left: 15px;
        @include mq(md){
            padding-top: 20px;
        }
        & div > p{
            @include mq(sm){
                margin: 0.5rem;
            }
        }
    }

    & .build_address{
        padding-top: 10px;
        // display: flex;
        // @include mq(md){
        //     width: auto;
        //     display: inline;
        // }        

        & .build_info{
            display: flex;
            align-items: center;
            
            & .build_name{
                margin-bottom: 0px;
                font-size: 14px;
                // border-bottom: 1px dashed black;
                display: inline-block;
                
            }
            & .google_map{
                margin-left: 10px;
                padding: 3px;
                display: inline;
                // background-color: #000;
                & a{
                    text-decoration: none;
                    font-size: 12px;
                    color: #000;
                    font-family: 'Noto Sans JP', serif;
                }
            }
        }
        & .address_info{
            // display: inline;
            font-family: 'umemincho', serif;
            display: flex;
            font-size: 14px;
            margin-bottom: 5px;
            & p{
                padding: 5px;
                margin-bottom: 5px;

                @include mq(sm){
                    padding: 1px;
                }
            }
        }
        
    }
}
