@use '../globals/' as *;


.access{
    width: 100%;
    height: auto;

    &__map{
        & img{
            width: 700px;
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include mq(md){
                width: 600px;
                height: auto;
            }

            @include mq(sm){
                width: 370px;
                height: auto;
            }
        }
    }

}