@use '../globals/' as *;

.row{
    margin-right: 0;
}

.access{
    width: 100%;
    height: auto;

    &  &__map{
        & img{
            width: 700px;
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include mq(md){
                width: 600px;
                height: auto;
            }

            @include mq(sm){
                width: 370px;
                height: auto;
            }
        }
    }

    & .build_address{
        // display: flex;

        & .build_name{
            margin-bottom: 10px;
            font-size: 20px;
            // border-bottom: 1px dashed black;
            display: flex;
            
            & .address_info{
                display: flex;
            }
        }
        & p{
            margin-bottom: 5px;
        }
        & span{
            margin-left: 15px;
        }

        & a{
            font-size: 14px;
            text-decoration: none;
        }
    }
}
