@use '../globals' as *;

.amenities{
    &__detail{
        & .amenities_icon{

            & img{
                width: 60px;
    
                @include mq(sm){
                    width: 30px;
                }
            }

            & p{
                font-family: 'umemincho', 'wf-sawarabimincho', serif;
                font-size: 16px;

                @include mq(sm){
                    font-size: 12px;
                }
            }
        }

        & .note{
            font-family: 'umemincho', serif;
            @include mq(sm){
                font-size: 14px;
            }
        }
    }
}