@use '../globals' as *;


.build_concise{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
    .each_build{
        & div{
            // margin-left: 15px;
            // margin: 0 5px;

            @include mq(sm){
                // margin-left: 0;
            }

            & p{
                font-size: 24px;

                @include mq(sm){
                    font-size: 18px;
                }
            }

        }

        & .build_name{
            @include mq(sm){
                text-align: center;
            }
        }

        & .build_map{

            & .account{
                font-size: 14px;
            }

            & .google_map{
                font-size: 8px;
                background-color: rgba(128, 128, 128, 0.51);

                & a{
                    text-decoration: none;
                    color: white;
                }
            }
        }

        & .build_info p{
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
}