@use '../globals/' as *;

.faq{
    &__detail{
        display: flex;
        justify-content: center;
    }
}

.contact{

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq(sm){
            flex-direction: column;
        }
    }
    &__title{
        // display: flex;
        // justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-right: 15px;

        @include mq(sm){
            margin-right: 0;
        }

    }

    &__icon{
        margin-left: 15px;
        @include mq(sm){
            margin-left: 0;
            margin-top: 15px;   
            
        }
        
        & .tel{
            margin-top: 10px;
        }

    }
}