@use '../globals/' as *;
@use './common' as *;

.recruit2{
    padding-top: 200px;
    
    & > .title{
        text-align: center;
        
        & > img{
            width: 700px;
            height: auto;
    
            @include mq(md){
                width: 500px;
            }
            @include mq(sm){
                width: 350px;
            }
        }
    }

    & > .content{
        padding-top: 50px;
        & img{
            width: 300px;
            height: auto;

            @include mq(sm){
                width: 200px;
            }
        }

        & .text{
            @include mq(sm){
                padding-top: 50px;
            }
        }
    }

}