@use '../globals' as *;
@use './common' as *;

.desc-contents{
    display: flex;
    justify-content: center;   
    padding-bottom: 200px; 
    width: 90%;
    margin: 0 auto;

    @include mq(md){
        width: 80%;
        display: block;
        margin: auto;
    }

    @include mq(sm){
        width: 100%;
    }

    & .content-left{
        align-items: center;
        margin-right: 100px;

        @include mq(md){
            margin-right: 0;
            margin-bottom: 20px;
        }

        & .main-title{
            padding-bottom: 30px;

            @include mq(md){
                padding-bottom: 0;
            }

            &  p{
                font-size: 28px;
                line-height: 1.5em;
    
                @include mq(md){
                    font-size: 24px;
                }
    
                @include mq(sm){
                    font-size: 22px;
                }
            }

            & span{
                display: block;

                @include mq(md){
                    display: inline;
                }
                @include mq(sm){
                    display: block;
                }
            }
        }
        

        & .sub-title p{
            font-size: 22px;
        }

        @include mq(sm){
            & .sub-title span{
                display: block;
            }
        }

        & .btn-flat{
            @extend .btn-lg;
            
            @include mq(md){
                font-size: 16px;
            }
            @include mq(sm){
                font-size: 14px;       
            }
        }
    }

    & .content-right{
        @include mq(md){
            margin: 0 auto;
            text-align: center;
        }
        & img{
            width: 500px;
            @include mq(md){
                width: 100%;
            }
            @include mq(sm){
                width: 80%;       
            }
        }
    }
}