@use '../globals/' as *;
@use './common' as *;

.feature{
    &__title{
        & span{
            @extend .grad-title;
            color: #fff; 
            -webkit-text-stroke: 1px blue; 
            text-stroke: 1px blue;
        }
    }

    &__content{
        & .image > img{
            width: 260px; 
            height: 230px;

            @include mq(md){

            }
            @include mq(sm){
                width: 150px;
                height: 130px;
            }

        }

        & .title p{
            font-size: 36px;

            @include mq(md){

            }
            @include mq(sm){
                font-size: 24px;
            }
        }
        & .keyword p{
            font-size: 18px;

            @include mq(md){

            }
            @include mq(sm){
                font-size: 8px;
            }
        }

        & .feature-image > img{
            width: 320px;
            height: 320px;

            @include mq(md){
                width: 250px;
                height: 250px;
            }
            @include mq(sm){
                width: 200px;
                height: 200px;
            }
        }
    }

}