@use '../globals/' as *;
@use './common' as *;

.feature{
    padding-bottom: 200px;
    &__title{
        & span{
            @extend .grad-title;
            color: #fff; 
            -webkit-text-stroke: 1px blue; 
            text-stroke: 1px blue;
        }
    }

    & > .row{
        padding-top: 100px;

        @include mq(sm){
            padding-top: 80px;
        }
    }

    &__content{
        & .image > img{
            width: 260px; 
            height: 230px;

            @include mq(md){
                width: 200px; 
                height: 180px;
            }
            @include mq(sm){
                width: 150px;
                height: 130px;
            }
        }

        & .explain{
            width: 60%;

            @include mq(md){
                width: 75%;
            }

            @include mq(sm){
                width: 100%;
            }
        }

        & .title p{
            font-size: 36px;

            @include mq(md){
                font-size: 28px;
            }
            @include mq(sm){
                font-size: 24px;
            }
        }
        & .keyword p{
            font-size: 18px;

            @include mq(md){

            }
            @include mq(sm){
                font-size: 12px;
            }
        }

        & .feature-image{
            // padding-right: 100px;

            @include mq(sm){
                padding-right: 0;
            }

           & > img{
                width: 350px;
                height: 350px;
    
                @include mq(md){
                    width: 200px;
                    height: 200px;
                }
                @include mq(sm){
                   
                    width: 200px;
                    height: 200px;
                }
            }
            
        } 
    }

}