@use '../globals' as *;
@use './common' as *;

.policy{
    margin: 0 auto;
    @extend .temp-title;
    font-family: 'Zen Kurenaido', sans-serif;
    padding-bottom: 100px;

    & .title p{
        @include mq(md){
            font-size: 32px;       
        }
    
        @include mq(sm){
            font-size: 28px;
        }
    }

    &__content{
        margin: 0 auto;
        text-align: start;
        width: 60%;

        @include mq(md){
            width: 85%;
        }

        @include mq(sm){
            width: 90%;       
        }

        & .text{
            margin-left: 50px;
            margin-bottom: 50px;

            @include mq(sm){
                margin-left: 10px;   
            }
        }

        & p,
        & ol,
        & li{
            line-height: 1.5em;
            font-size: 20px;

            @include mq(sm){
                font-size: 16px;   
            }
            
        }

    }
}