@use '../globals' as *;
@use './common' as *;


.recruit2{
    padding-bottom: 100px;


    

    &__info{
        @extend .table-prop;
        & .record-table{
            width: 80%;

            @include mq(md){
                width: 90%;
            }

            & th{
                @include mq(sm){
                    font-size: 12px;
                }  

            }

            & td{
                @include mq(md){
                    padding: 10px;
                    text-align: start;

                }

                & p{
                    padding-top: 20px;
                    line-height: 0.1em;
                }
                & ul{
                    margin-top: 5px;
                    margin-bottom: 5px;

                }
            }

            @include mq(sm){
                & th,
                & td{
                    border-bottom: none;
                    display: block;
                    padding-left: 10px;
                    font-size: 14px;
                }

                & .last td:last-child{
                    border-bottom: 1px solid #ccc;
                }
            }
        }
    } 
    & .btn-flat{
        @extend .btn-lg;

        @include mq(sm){
            font-size: 16px;
        }
    }
}
