@use '../globals' as *;
@use './common' as *;

.recruit{
    // width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 100px;

    & .message{
        margin:0;
        width: 100vw;
        height: 700px;
        background-image: url('../img/recruit1.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
        font-size: 24px;

        

        @include mq(md){
            height: 350px;
        }

        @include mq(sm){
            height: 250px;
        }

        & > .title {
            @include mq(sm){
                top: 40%;
                left: 10%;

            }
            & > p{
                @include mq(sm){
                    font-size: 16px;
                    
                }
            }
        }
        
    }

    & .explain{
        background-color: #222FE6;

        & p{
            color: #fff;
        }

        &__title{
            p{
                font-size: 20px;

                @include mq(sm){
                    font-size: 16px;
                }
            }
        }

        &__text{
            p{
                font-size: 14px;
                @include mq(sm){
                    font-size: 12px;
                }
            }
        }
    }

    &__detail{
        margin: 0;
        padding: 0;
        
        & .content{
            // margin-top: 20px;
            background: #fff;
            border-radius: 15px;

            & .title{
                p{
                    color: #222FE6;
                    font-size: 20px;

                    @include mq(sm){
                        font-size: 16px;
                    }
                }
            }

            & .text
            p{
                color: #000;
                font-size: 14px;

                @include mq(sm){
                    font-size: 12px;
                }

            }

            & .btn{
                margin: 0px 0px;
                padding: 5px 15px 8px;
            }
        }
        & .content_left{

        }
    }

    & .bottom_image{
        width: 100vw;
        height: 500px;
        background-image: url('../img/recruit2.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
        
        @include mq(md){
            height: 250px;
        }

        @include mq(sm){
            height: 150px;
        }
    }
    
    
    @include mq(md){
        width: 90%;   
    }
    
    &__title{
        display: flex;
        margin: 0 auto;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
        & p{
            line-height: 1.6em;
            font-size: 48px;

            @include mq(md){
                text-align: start;
                font-size: 32px;
            }

            @include mq(sm){
                font-size: 28px;
            }
        }
        & span{
            display: block;
        }
    }
    &__texts{
        text-align: center;
        margin-bottom: 100px;
        & .title{
            text-align: start;
            font-size: 32px;

            @include mq(md){
                font-size: 28px;
            }

            @include mq(sm){
                font-size: 22px;
            }
        }

        & .description{
            text-align: start;
            font-size: 20px;
            margin-left: 15px;
            line-height: 2em;

            @include mq(md){
                line-height: 1.5em;
            }

            @include mq(sm){
                font-size: 16px;
            }

            & span{
                display: block;
                padding-bottom: 20px;
            }
        }

        & .btn-flat{
            margin-top: 30px;
            @extend .btn-lg;

            @include mq(md){
                font-size: 14px;
            }

            & span{
                padding-bottom: 0;
            }
        }
    }

    & .work{
        display: flex;
        justify-content: space-between;
        

        @include mq(md){
            // display: block;   
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 auto;
        }

        

        & .title{
            font-size: 24px;
            
            @include mq(sm){
                font-size: 18px;
            }
        }
        
        &__left{
            width: 45%;
            margin-right: 15px;
            // background-color: rgba(2, 101, 176, 0.68);
            background-color: rgba(2, 101, 176, 0.178);
            border: 2px dashed white;
            border-radius: 30px;
            padding: 30px 30px 0 30px;

            @include mq(md){
                width: 100%;
                margin: 0 auto;
                padding: 10px;
                margin-bottom: 30px;
            }

            
        }

        &__right{
            width: 45%;
            // background-color: #d73d8fa4;
            background-color: rgba(2, 101, 176, 0.178);
            border: 2px dashed white;
            border-radius: 30px;
            padding: 30px;

            @include mq(md){
                width: 100%;
                margin: 0 auto;
                padding: 10px;
                
            }
        }

        & .recruit__texts{
            margin-bottom: 30px;
            & .description{
                font-size: 16px;
            }
            @include mq(sm){
                margin-bottom: 0;
            }
        } 
    }
}
