@use '../globals/' as *;
@use './common' as *;

.demoreel{
    padding-top: 200px;
    
    & > .title{
        text-align: start;
        
        & > img{
            width: 400px;
            height: auto;
    
            @include mq(md){
                width: 350px;
            }
            @include mq(sm){
                width: 200px;
            }
        }
    }

    & > .movie{
        padding-top: 100px;
        text-align: center;

        & iframe{
            @include mq(md){
                width: 600px;
                height: 400px;
            }
            @include mq(sm){
                width: 300px;
                height: 300px;
            }
        }
    }

}
.service{
    padding-top: 200px;
    
    & > .title{
        text-align: center;
        
        & > img{
            width: 400px;
            height: auto;
    
            @include mq(md){
                width: 500px;
            }
            @include mq(sm){
                width: 350px;
            }
        }
    }

    & > .content{
        padding-top: 50px;
        & img{
            width: 300px;
            height: auto;

            @include mq(sm){
                width: 200px;
            }
        }

        & .text{
            @include mq(sm){
                padding-top: 50px;
            }
        }
    }

}