@use '../globals/' as *;
@use './common' as *;

.demoreel{
    padding-top: 200px;
    
    & > .title{
        text-align: start;
        
        & > img{
            width: 400px;
            height: auto;
    
            @include mq(md){
                width: 350px;
            }
            @include mq(sm){
                width: 200px;
            }
        }
    }

    & > .movie{
        padding-top: 100px;
        text-align: center;

        @include mq(sm){
            padding-top: 50px;
        }

        & iframe{
            @include mq(md){
                width: 600px;
                height: 400px;
            }
            @include mq(sm){
                width: 300px;
                height: 200px;
            }
        }
    }

}
.service{
    padding-top: 200px;
    
    & > .title{
        text-align: end;
        
        & > img{
            width: 400px;
            height: auto;
    
            @include mq(md){
                width: 350px;
            }
            @include mq(sm){
                width: 200px;
            }
        }
    }

    &__image{
        & img{
            border-radius: 20px;
            width: 600px;
            height: auto;

            @include mq(md){
                width: 350px;
            }
        }
    }

   &__explain{
        padding-top: 100px;

        @include mq(sm){
            padding-top: 50px;
        }
        & > p{
            font-size: 16px;

            @include mq(md){
                font-size: 16px;
            }

            @include mq(sm){
                font-size: 12px;
            }
        }
   }

   &__tools{
    padding-top: 100px;
    padding-bottom: 150px;
        & .title{
            & > p{
                text-align: center;
                font-size: 28px;
            }
        }

        & .tools{
            & img{
                width: 200px;
                height: auto;

                @include mq(md){
                    width: 120px;
                }
                @include mq(sm){
                    width: 80px;
                }
            }
        }
   }

}