@use '../globals/' as *;

.staff{
    position: relative;
    width: 100%;
    height: auto;

    &__img{
        width: 100%;
        & img{
            width: 700px;
            height: auto;
            object-fit: cover;
    
            @include mq(sm){
                width: 300px;
                height: auto;
                object-fit: cover;
            }
        }
    }

    &__text{
        position: absolute;
        right: 100px;
        top: 550px;
        background: #fff;

        @include mq(md){
            top: 600px;
            right: 50px;
            font-size: 14px;
        }

        @include mq(sm){
            position: static;
            font-size: 14px;
            // background: none;
            padding: 0 10px;
        }
        
        & p{
            margin: 20px;
        }
    }
}