@use '../globals/' as *;


.staff{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;

    &__img{
        // width: 100%;
        & img{
            border-radius: 15px;
            width: 700px;
            height: auto;
            object-fit: cover;

            @include mq(md){
                width: 500px;
            }
    
            @include mq(sm){
                width: 300px;
                height: auto;
            }
        }
    }

    &__text{
        position: absolute;
        top: 700px;
        right: 0;
        background: #ffe9fe;
        border-radius: 15px;

        @include mq(md){
            top: 660px;
            right: 0px;
            font-size: 14px;
        }

        @include mq(sm){
            position: static;
            font-size: 14px;
            margin: 10px;
        }
        
        & p{
            margin: 20px;
        }
    }
}