@use '../globals/' as *;



#sticky_header{
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // background: #333;
    color: #fff;
    text-align: center;
    padding: 40px;

    @include mq(md){
        padding: 20px;
        padding-top: 40px;
    }

    & #sticky_nav{
        // width: 100%;
        // background: #333;
        &.fixed{
            top: 80px;
            position: fixed;
            padding-top: 20px;
        }
        & ul{
            list-style: none;
            display: flex;
            justify-content: center;

            & li {
                & a{
                    display: block;
                    text-decoration: none;
                    padding: 10px 30px;
                    transition: all .3s;

                    @include mq(sm){
                        font-size: 12px;
                        padding: 5px 10px;
                    }
                }

            }
        }


    }
}

/* 002 */
.button002 a {
    background: #F5DF99;
    // background: rgba(236, 197, 251);
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button002 a:before {
    // content: "\f201";
    position: relative;
    // font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
    color: #999;
}
.button002 a:hover {
    background: rgb(240, 212, 250);
    color: #FFF;
}