@use '../globals' as *;
@use './common' as *;


.company{

    // タイトル
    @extend .temp-title;

    @include mq(md){
        padding-top: 0;
    }

    & .title p{
        @include mq(md){
            font-size: 32px;
        }
        @include mq(sm){
            font-size: 28px;
        }
    }

    &__info{
        @extend .table-prop;

        & .record-table{
            @include mq(md){
                width: 60%;
            }
            @include mq(sm){
                width: 90%;
                & th,
                & td{
                    border-bottom: none;
                    display: block;
                    padding-left: 10px;
                    font-size: 16px;
                }

                & .last td:last-child{
                    border-bottom: 1px solid #ccc;
                }
            }
        }
    }
}
