@use '../globals' as *;
@use './common' as *;

// mp4動画
// 参考サイト https://coco-factory.jp/ugokuweb/move01/6-3-1/

.top{
    @include mq(md){
        width: 80%;            
        display: block;
    }

    &__content{
        position:absolute;
        /*要素を天地中央寄せ*/
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        /*見た目の調整*/
        color:#fff;
        text-shadow: 0 0 15px #666;
        width: 70%;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        margin-bottom: 300px;

        @include mq(md){
            width: 80%;            
            display: block;
        }
    }

    &__left{
        & .top__title p{
            line-height: 0.5em; // 「Find Rigger With Parnas」の行間
            font-size: 48px;

            @include mq(md){
                font-size: 42px;
            }

            @include mq(sm){
                font-size: 32px;
            }
        }

        & .sub__title p{
            font-size: 24px;

            @include mq(md){
                font-size: 22px;
            }
            @include mq(sm){
                font-size: 16px;
            }
        }
    }
    &__right{
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    & .btn-gradient{
        @extend .btn-lg;
    
        @include mq(md){
            font-size: 18px;   
        }
    
        & .remove{
            @include mq(sm){
                display: none;
            }
        }
    }

    & #top__header{
        position: relative;
        height: 100vh;

        & #video-area{
            position: fixed;
            z-index: -1;/*最背面に設定*/
            top: 0;
            left:0;
            right:0;
            bottom:0;
            overflow: hidden;

            & video{
                /*天地中央配置*/
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                /*縦横幅指定*/
                width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
                height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
                min-height: 100%;
                min-width: 100%;
            }
        }


    }


}
