@charset "UTF-8";
@font-face {
  font-family: "chogokubosogothic";
  src: url("../../fonts/chogokubosogothic/chogokubosogothic_5.ttf") format(truetype);
}
@font-face {
  font-family: "umemincho";
  src: url("../../fonts/umemincyo/ume-tmo3.ttf") format(truetype);
}
@font-face {
  font-family: "MakibaFont13";
  src: url("../../fonts/MakibaFont13/MakibaFont13.ttf") format(truetype);
}
@font-face {
  font-family: "mushin";
  src: url("../../fonts/MODI_mushin_2021_1104/mushin.otf") format(truetype);
}
@font-face {
  font-family: "craftmincho";
  src: url("../../fonts/craftmincho/craftmincho.otf") format(truetype);
}
@font-face {
  font-family: "riitf";
  src: url("../../fonts/riit_f.otf") format(truetype);
}
@font-face {
  font-family: "karakaze";
  src: url("../../fonts/karakaze_font/karakaze-R.ttf") format(truetype);
}
@font-face {
  font-family: "karakaze2";
  src: url("../../fonts/karakaze_font2/karakaze-R.otf") format(truetype);
}
@font-face {
  font-family: "yosugara";
  src: url("../../fonts/yosugara/yosugara1.1.ttf") format(truetype);
}
.container-fluid {
  padding: 0;
  background-color: #ffffff;
}

.row > * {
  padding: 0;
  line-height: 1;
}

/* fonts */
.wf-sawarabimincho {
  font-family: "Sawarabi Mincho";
}

.booking_btn {
  margin: auto;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/tomoe_top.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .overlay:before {
    background-size: cover;
  }
}
.overlay .logo p {
  background: #fff;
  position: absolute;
  bottom: 38px;
  left: 100px;
  font-size: 40px;
  margin: 10px;
  padding: 5px 10px;
  height: auto;
  z-index: 5;
  opacity: 1;
  font-family: "karakaze", serif;
}
@media screen and (max-width: 960px) {
  .overlay .logo p span {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .overlay .logo p {
    font-size: 24px;
    bottom: 50px;
  }
  .overlay .logo p span {
    display: block;
  }
}
.overlay .logo p::-moz-selection {
  background-color: #fff;
}
.overlay .logo p::selection {
  background-color: #fff;
}

.news-article p {
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .news-article p {
    font-size: 14px;
  }
}

.build_concise .each_build div p {
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .build_concise .each_build div p {
    font-size: 18px;
  }
}
.build_concise .each_build .build_map .account {
  font-size: 14px;
}
.build_concise .each_build .build_map .google_map {
  font-size: 8px;
  background-color: rgba(128, 128, 128, 0.51);
}
.build_concise .each_build .build_map .google_map a {
  text-decoration: none;
  color: white;
}
.build_concise .each_build .build_info p {
  font-size: 16px;
  margin-bottom: 5px;
}

.amenities__detail .amenities_icon img {
  width: 60px;
}
@media screen and (max-width: 600px) {
  .amenities__detail .amenities_icon img {
    width: 30px;
  }
}
.amenities__detail .amenities_icon p {
  font-family: "umemincho", "wf-sawarabimincho", serif;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .amenities__detail .amenities_icon p {
    font-size: 12px;
  }
}
.amenities__detail .note {
  font-family: "umemincho", serif;
}
@media screen and (max-width: 600px) {
  .amenities__detail .note {
    font-size: 14px;
  }
}

.footer {
  height: auto;
  background: #ffe9fe;
}
.footer__inner {
  justify-content: space-between;
}
.footer__inner.row {
  margin-right: 0;
}
.footer__inner .logo {
  text-align: center;
}
.footer__inner .logo img {
  width: 200px;
  height: auto;
}
@media screen and (max-width: 600px) {
  .footer__inner .logo img {
    width: 150px;
  }
}
.footer__nav {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 600px) {
  .footer__nav {
    margin-top: 50px;
  }
}
.footer__ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  display: block;
  margin: 0;
  align-items: center;
  height: initial;
}
.footer__li {
  padding: 5px 0;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .footer__li {
    font-size: 12px;
  }
}
.footer__li a {
  color: #000;
  text-decoration: none;
}

.faq__detail {
  display: flex;
  justify-content: center;
}

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .contact__content {
    flex-direction: column;
  }
}
.contact__title {
  align-items: center;
  margin-bottom: 0;
  margin-right: 15px;
}
@media screen and (max-width: 600px) {
  .contact__title {
    margin-right: 0;
  }
}
.contact__icon {
  margin-left: 15px;
}
@media screen and (max-width: 600px) {
  .contact__icon {
    margin-left: 0;
    margin-top: 15px;
  }
}
.contact__icon .tel {
  margin-top: 10px;
}

#sticky_header {
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 40px;
}
@media screen and (max-width: 960px) {
  #sticky_header {
    padding: 20px;
    padding-top: 40px;
  }
}
#sticky_header #sticky_nav.fixed {
  top: 80px;
  position: fixed;
  padding-top: 20px;
}
#sticky_header #sticky_nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
#sticky_header #sticky_nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  transition: all 0.3s;
}
@media screen and (max-width: 600px) {
  #sticky_header #sticky_nav ul li a {
    font-size: 12px;
    padding: 5px 10px;
  }
}

/* 002 */
.button002 a {
  background: #F5DF99;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.button002 a:before {
  position: relative;
  font-weight: 900;
  margin-right: 8px;
  color: #999;
}

.button002 a:hover {
  background: rgb(240, 212, 250);
  color: #FFF;
}

.staff {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}
.staff__img img {
  border-radius: 15px;
  width: 700px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 960px) {
  .staff__img img {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .staff__img img {
    width: 300px;
    height: auto;
  }
}
.staff__text {
  position: absolute;
  top: 500px;
  right: 0;
  background: #ffe9fe;
  border-radius: 15px;
}
@media screen and (max-width: 960px) {
  .staff__text {
    top: 450px;
    right: 0px;
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .staff__text {
    position: static;
    font-size: 14px;
    margin: 10px;
  }
}
.staff__text p {
  margin: 20px;
}

.row {
  margin-right: 0;
}

.access {
  width: 100%;
  height: auto;
}
.access .access__map img {
  width: 700px;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 960px) {
  .access .access__map img {
    width: 600px;
    height: auto;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .access .access__map img {
    width: 370px;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .access {
    margin: auto;
  }
}
.access .required_time {
  margin-left: 15px;
}
@media screen and (max-width: 960px) {
  .access .required_time {
    padding-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .access .required_time div > p {
    margin: 0.5rem;
  }
}
.access .build_address {
  padding-top: 10px;
}
.access .build_address .build_info {
  display: flex;
  align-items: center;
}
.access .build_address .build_info .build_name {
  margin-bottom: 0px;
  font-size: 14px;
  display: inline-block;
}
.access .build_address .build_info .google_map {
  margin-left: 10px;
  padding: 3px;
  display: inline;
}
.access .build_address .build_info .google_map a {
  text-decoration: none;
  font-size: 12px;
  color: #000;
  font-family: "Noto Sans JP", serif;
}
.access .build_address .address_info {
  font-family: "umemincho", serif;
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
}
.access .build_address .address_info p {
  padding: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .access .build_address .address_info p {
    padding: 1px;
  }
}

.button {
  background-color: #fff;
  border: 1px solid #000;
  font-weight: 600;
  padding: 20px 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: #000;
  text-decoration: none !important;
}
.button.filled {
  background-color: #000;
  color: #fff;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.button.filled:hover {
  background-color: #fff;
  color: #000;
  box-shadow: none;
}
.button.button-large {
  width: 100%;
  height: 80px;
  font-size: 24px;
}

#carouselExampleCaptions2 {
  width: 100%;
}
#carouselExampleCaptions2 carousel-inner .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 960px) {
  .hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9998;
    display: inline;
  }
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease 0.4s;
    display: block;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }
  .hamburger span:nth-child(3) {
    top: 0;
  }
  .hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  padding: 15px 4% 10px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.header__inner {
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
@media screen and (max-width: 960px) {
  .header__inner {
    padding: 0 30px;
  }
}
.header__inner img {
  width: 150px;
}
.header__inner .logo {
  padding: 0;
  margin: 0;
}
.header__nav {
  position: static;
  transform: initial;
  background-color: inherit;
  height: inherit;
  display: flex;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 960px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease 0.4s;
    /* ハンバーガーメニュークリック後のスタイル */
  }
  .header__nav.active {
    transform: translateX(0);
  }
}
.header__items {
  width: 100%;
  display: flex;
  margin: 0;
  align-items: center;
  height: initial;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .header__items {
    flex-direction: column;
  }
}
.header__ul {
  list-style: none;
  margin: 0;
  display: flex;
  position: inherit;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  padding: 0;
}
@media screen and (max-width: 960px) {
  .header__ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.header__li {
  margin: 0 0 0 15px;
  font-size: 14px;
  color: #000000;
}
@media screen and (max-width: 960px) {
  .header__li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    font-size: 20px;
  }
}
.header__li a {
  text-decoration: none;
  color: #000;
}
.header__li .multilingual a:hover {
  color: red;
}
@media screen and (max-width: 960px) {
  .header__hamburger {
    width: 48px;
    height: 100%;
  }
}
@media screen and (max-width: 960px) and (max-width: 600px) {
  .header__hamburger {
    width: 64px;
  }
}

.staff {
  padding-top: 200px;
}
.staff__profile {
  font-size: 15px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .staff__profile {
    width: auto;
  }
}
.staff__profile table {
  margin: auto;
}
.staff__profile table tr {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #cfcfcf;
}
@media screen and (min-width: 768px) {
  .staff__profile table tr {
    padding: 17px 0;
  }
}
.staff__profile table tr:first-of-type {
  border-top: 1px solid #cfcfcf;
}
.staff__profile table tr td {
  padding: 8px 0 10px 17px;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .staff__profile table tr td {
    padding-left: 32px;
    font-size: 16px;
  }
}
@media screen and (max-width: 960px) {
  .staff__profile table tr td {
    font-size: 12px;
  }
}
.staff__profile table tr td:first-child {
  width: 100px;
  padding: 8px 0 10px;
  border-right: 1px solid #cfcfcf;
}
@media screen and (min-width: 768px) {
  .staff__profile table tr td:first-child {
    width: 146px;
  }
}
@media screen and (max-width: 960px) {
  .staff__profile table tr td:first-child {
    width: 100px;
  }
}
.staff__profile table tr td:nth-child(2) {
  padding-right: 100px;
}
@media screen and (max-width: 960px) {
  .staff__profile table tr td:nth-child(2) {
    padding-right: 0;
  }
}
.staff__image {
  margin: 0 auto;
}
.staff__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
@media screen and (max-width: 600px) {
  .staff__image {
    padding-left: 0;
  }
}

.company {
  padding: 200px 0;
  width: auto;
  margin: auto;
}
.company__profile {
  font-size: 15px;
  width: 600px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .company__profile {
    width: auto;
  }
}
.company__profile table {
  margin: auto;
}
.company__profile table tr {
  width: 100%;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #cfcfcf;
}
@media screen and (min-width: 768px) {
  .company__profile table tr {
    padding: 17px 0;
  }
}
.company__profile table tr:first-of-type {
  border-top: 1px solid #cfcfcf;
}
.company__profile table tr td {
  padding: 8px 0 10px 17px;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .company__profile table tr td {
    padding-left: 32px;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .company__profile table tr td {
    font-size: 12px;
  }
}
.company__profile table tr td:first-child {
  width: 100px;
  padding: 8px 0 10px;
  border-right: 1px solid #cfcfcf;
}
@media screen and (min-width: 768px) {
  .company__profile table tr td:first-child {
    width: 146px;
  }
}
.company__profile table tr td:nth-child(2) {
  padding-right: 100px;
}
@media screen and (max-width: 600px) {
  .company__profile table tr td:nth-child(2) {
    padding-right: 0;
  }
}/*# sourceMappingURL=style.css.map */