@charset "UTF-8";
.container-fluid {
  padding: 0;
  background-color: #EFEBDC;
}

.row > * {
  padding: 0;
  line-height: 1;
}

/* fonts */
.wf-sawarabimincho {
  font-family: "Sawarabi Mincho";
}

.booking_btn {
  margin: auto;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 960px) {
  .hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9998;
    display: inline;
  }
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease 0.4s;
    display: block;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }
  .hamburger span:nth-child(3) {
    top: 0;
  }
  .hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
}

.header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding: 15px 4% 10px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.header__inner {
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
@media screen and (max-width: 960px) {
  .header__inner {
    padding: 0 30px;
  }
}
.header__inner img {
  width: 150px;
}
.header__inner .logo {
  padding: 0;
  margin: 0;
}
.header__nav {
  position: static;
  transform: initial;
  background-color: inherit;
  height: inherit;
  display: flex;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 960px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease 0.4s;
    /* ハンバーガーメニュークリック後のスタイル */
  }
  .header__nav.active {
    transform: translateX(0);
  }
}
.header__items {
  width: 100%;
  display: flex;
  margin: 0;
  align-items: center;
  height: initial;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .header__items {
    flex-direction: column;
  }
}
.header__ul {
  list-style: none;
  margin: 0;
  display: flex;
  position: inherit;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  padding: 0;
}
@media screen and (max-width: 960px) {
  .header__ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.header__li {
  margin: 0 0 0 15px;
  font-size: 14px;
  color: #000000;
}
@media screen and (max-width: 960px) {
  .header__li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    font-size: 20px;
  }
}
.header__li a {
  text-decoration: none;
  color: #000;
}
.header__li .multilingual a:hover {
  color: red;
}
@media screen and (max-width: 960px) {
  .header__hamburger {
    width: 48px;
    height: 100%;
  }
}
@media screen and (max-width: 960px) and (max-width: 600px) {
  .header__hamburger {
    width: 64px;
  }
}

.overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/tomoe_top.jpg");
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .overlay:before {
    background-size: cover;
  }
}
.overlay .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
  opacity: 1;
}

.news-article p {
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .news-article p {
    font-size: 14px;
  }
}

.build_concise .each_build div p {
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .build_concise .each_build div p {
    font-size: 18px;
  }
}
.build_concise .each_build .build_map .account {
  font-size: 14px;
}
.build_concise .each_build .build_map .google_map {
  font-size: 8px;
  background-color: rgba(128, 128, 128, 0.51);
}
.build_concise .each_build .build_map .google_map a {
  text-decoration: none;
  color: white;
}
.build_concise .each_build .build_info p {
  font-size: 16px;
  margin-bottom: 5px;
}

.amenities__detail .amenities_icon img {
  width: 60px;
}
@media screen and (max-width: 600px) {
  .amenities__detail .amenities_icon img {
    width: 30px;
  }
}
.amenities__detail .amenities_icon p {
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .amenities__detail .amenities_icon p {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .amenities__detail .note {
    font-size: 14px;
  }
}

.footer {
  height: auto;
  background: #fff;
}
.footer__inner {
  justify-content: space-between;
}
.footer__inner.row {
  margin-right: 0;
}
.footer__inner .logo {
  text-align: center;
}
.footer__inner .logo img {
  width: 200px;
  height: auto;
}
@media screen and (max-width: 600px) {
  .footer__inner .logo img {
    width: 150px;
  }
}
.footer__nav {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: start;
}
@media screen and (max-width: 600px) {
  .footer__nav {
    margin-top: 50px;
  }
}
.footer__ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  display: block;
  margin: 0;
  align-items: center;
  height: initial;
}
.footer__li {
  padding: 5px 0;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .footer__li {
    font-size: 12px;
  }
}
.footer__li a {
  color: #000;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */